@page
@model IndexModel
@{
    ViewData["Title"] = "Control de bioseguridad - MISION TIC";
}

<div class="text-center">
    <h1 class="display-4">Control de Bioseguridad</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Proyecto construido con ASP.NET Core</a>.</p>
</div>
