@page
@model oficinaCovid.App.Frontend.Pages.PrincipalModel
@{
    var gobernacion = Model.gobernacion;
    ViewData["Title"] = gobernacion.nombre;
}
<h1>@gobernacion.nombre</h1>
<input type="hidden" asp-for="gobernacion.id" id="gobernacionid">
<div class="form-group row col-6 col-md-6 col-sm-6 mt-4 pl-0">
    <select name="" id="modulos" class="form-control col-6 mr-2">
        <option value="1">Oficina</option>
        <option value="2">Secretario</option>
    </select>
    <button id="go-modulo" class="btn btn-success col-4">Ir</button>
</div>
<input type="hidden" asp-for="gobernacion.id" id="gobernadorId">
