@page
@model oficinaCovid.App.Frontend.Pages.SecretarioModel
@{
    var titlePage = Model.gobernacion.nombre + " - Secretarios";
}
<h3>@titlePage</h3>
<div class="col-md-8">
    <form action="" method="post">
        <input type="hidden" asp-for="gobernacion.id">
        <input type="hidden" asp-for="secretario.id">
        <div class="form-group">
            <label asp-for="secretario.identificacion">Identificación</label>
            <input type="text" asp-for="secretario.identificacion" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="secretario.nombres">Nombres</label>
            <input type="text" asp-for="secretario.nombres" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="secretario.apellidos">Apellidos</label>
            <input type="text" asp-for="secretario.apellidos" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="secretario.edad">Edad</label>
            <input type="number" asp-for="secretario.edad" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="secretario.genero">Genero</label>
            <select asp-for="secretario.genero" class="form-control">
                <option value="">Seleccione el genero</option>
                <option value="Femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Guardar cambios</button>
    </form>
</div>
